.hero{
    width: 100%;
    background: #212529;
    color: white;
    display: flex;
    justify-content: center;   
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 100px 0px;
}
.hero h1{
    font-size: 48px;
    font-weight: bold;
}
.hero p{
    font-size: 20px;
    color: gray;
}